include *.txt
include *.rst
include GPL-3
recursive-include unihandecode/data *.txt
recursive-include unihandecode/gencodemap *.py
recursive-include unihandecode/genkanwadict *.py
recursive-include tests *.py
